                                                                        /*Colors*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-homepage-localisation: #EAEAEA;
$color-homepage-border-top: #D5D5D5;
$color-homepage-hautdepage: #F6F6F6;
$color-icon-nav: #7B7B7B;
$color-section: rgb(246 246 246);
$color-footer: rgb(53 53 53);

                                                                        /*Margin */

$margin15: 15px;